<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Card</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img src="../../assets/3dme.jpeg" />
        <ion-card-header>
          <ion-card-subtitle>Animo South Los Angeles rising senior</ion-card-subtitle>
          <ion-card-title>Tayshaun Kelly</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          I am a 17 year old mechanic,Dj, and developer.Thanks for checking me out!
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>



  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
